@import "../styles/helpers";

.todo-item {

  input.to-do-input{
    -webkit-appearance: none;
    font-size: 24px;
    font-family: Short Stack, "微软雅黑" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    height: 40px;
    width: 450px;
    padding-left:20px;
    box-shadow: none;
    outline:none;
    border-radius: 20px;
    border: 0;
    margin-bottom: 23px;
  }
  .to-do {
    font-size: 30px;
    color: white;

    &.completed {
      color: $color-four;
    }

    span {
      position: relative;
      display: inline-block;
      line-height: 40px;
      overflow: hidden;
      height: 40px;
      margin-bottom: 10px;

    }

    .a-button {
      margin-left: 50px;
      position: relative;
      border: 0;
      font-size: 24px;
      line-height: 40px;
      height: 40px;
      width: 120px;
      text-align: center;
      cursor: pointer;
      color: $color-four;
      background: white;
      border-radius: 20px;
      overflow: hidden;
      display: inline-block;
      margin-bottom: 10px;

      &:hover {
        color: white;
        background: $color-four;
      }

      button {
        box-sizing: border-box;
        -webkit-appearance: none;
        border: 0;
        height: 40px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer;
        outline: 0;
      }
    }
  }

}
